<style>
  body {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
</style>

<div class="container text-center" style="max-width: 400px">
  <h1 class="display-5 mb-4">Recipe Book</h1>
  <form action="/login" method="post">
    <h5 class="text-dark mb-3">Admin: Login</h5>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="name@example.com"
      />
      <label for="email">E-mail</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
    </div>
    <button
      type="submit"
      class="btn btn-primary w-100"
      name="loginsubmit"
      id="loginsubmit"
    >
      Log In
    </button>
    <% if (errors && errors.length > 0) { %>
    <div class="alert alert-danger mt-3 text-center p-2 rounded">
      <% errors.forEach(function(error) { %>
      <p><%= error.msg %></p>
      <% }); %>
    </div>
    <% } %> <% if (message) { %>
    <div class="alert alert-danger mt-3 text-center p-2 rounded">
      <p><%= message %></p>
    </div>
    <% } %>
  </form>
</div>
